.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 5rem;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2rem;
  font-weight: 300;

}

.content {
  font-size: 1.2rem;
}

